@use "@fontsource/fira-mono";

@tailwind base;

@font-face {
  font-family: display;
  src: url(/devinne-swash.regular.ttf);
}

@font-face {
  font-family: body;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmYmRjRdE.woff2);
}

:root {
  /*
	Good combos (bg/t):
	matching colors tend to look good
	
	maroon/pink (maybe? this maroon sucks)
	
	maroon-x/black (meh)
	maroon-x/white  (meh)
	maroon-x/maroon
	maroon-x/gold (meh)
	maroon-x/gold-x (meh)
	t-pink/bg-maroon-x (yeah I flipped 'em)
	
	blue/maroon (mhm)

	sage/maroon
	sage/gold (meh)
	sage/blue (nice)
	
	pink/maroon (sorta??)
	pink/gold-x (sorta???)
	pink/blue
	pink/sage
	
	
	*/
  --bg-maroon: #82463a;
  --bg-maroon-x: #772014;
  --bg-blue: #83adb5;
  --bg-sage: #c1c2ad;
  --bg-pink: #e9e6e2;

  --bg-d-blue: #38475a;
  --bg-purple: #321c3b;

  --bg-main: var(--bg-d-blue);

  --t-maroon: #b54b40;
  --t-gold: #c3803c;
  --t-gold-x: #c8906a;
  --t-blue: #2e4045;
  --t-sage: #545e4b;
  --t-pink: #b5a4a3;

  --t-green-blue: #89a28c;
  --t-l-blue: #b5d5d4;
  --t-d-blue: #697b7d;
  --t-purple: #eacee3;
  --t-d-purple: #7b519a;

  --t-main: var(--t-l-blue);

  --line-length: 95vw;
  --sun-size: 20px;

  --column-width: 42rem;
  --column-margin-top: 4rem;

  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
figure {
  color: var(--t-main);
}

h1,
h2 {
  font-family: display;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2 {
  &.bar {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 3px;
      left: 0;
      width: 100%;
      border: 0.5px solid var(--t-main);
    }
  }
}

section {
  h2 {
    line-height: 3.75rem;
  }
}

hgroup {
  h4 {
    font-size: x-large;
    line-height: 1.5rem;
  }

  h5 {
    font-size: medium;
  }

  h6 {
    font-size: small;
    text-decoration: underline dotted;
  }
}

hr {
  border-color: var(--t-main);
}

.skill {
  font-size: 3rem;

  margin: 0.75rem;
  margin-left: 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.display-wrapper:has(> .placeholder) {
  background:
    radial-gradient(transparent 0%, var(--bg-main) 40%) 50% -270px/ 200% 200%,
    repeating-linear-gradient(45deg,
      color-mix(in srgb, var(--bg-main) 10%, transparent) 0px,
      color-mix(in srgb, var(--t-main) 80%, transparent) 0.9px,
      var(--bg-main) 0,
      var(--bg-main) 50%) 0 0 / 9px 9px repeat;

  >.placeholder {
    text-align: center;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.card {
  border: 1px solid var(--t-main);
  box-shadow: 0 3px var(--t-main);
  border-radius: 0.5rem;

  &:is(button) {
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      box-shadow: 0 6px var(--t-main);
    }

    &.inverted-colors {
      border: 1px solid var(--bg-main);
      border-bottom-width: 4px;
      box-shadow:
        0 0px 0 2px var(--t-main),
        0 4px 0 2px var(--t-main);
    }
  }
}

.inverted-colors {
  color: var(--bg-main);
  background-color: var(--t-main);

  &.interactive {
    transition:
      color 0.33s cubic-bezier(0.075, 0.82, 0.165, 1),
      background-color 0.33s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      color: var(--t-main);
      background-color: var(--bg-main);

    }
  }
}

figure {
  svg {
    width: 2em;
    height: 2em;
    margin: 0 auto;
  }
}

svg {
  stroke: var(--t-main);
  fill: var(--t-main);

  // This is here to help with initial load popping
  &.svg-sm {
    max-width: 1em;
    max-height: 1em;
    display: inline-block;
    line-height: 1em;
  }

  &.svg-md {
    max-width: 1.5em;
    max-height: 1.5em;
    display: inline-block;
    line-height: 1em;
  }

  &.svg-lg {
    width: 2em;
    height: 2em;
    display: inline-block;
    line-height: 1em;
  }
}

// Prevents scrolling when there is
// A close modal button on the screen
// Implies a modal is open
@media (max-width: 768px) {
  html:has(.modal-close-button) {
    overflow: hidden;
  }
}