@use "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: display;
  src: url(/devinne-swash.regular.ttf);
}

@font-face {
  font-family: body;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmYmRjRdE.woff2);
}

:root {
  /*
	Good combos (bg/t):
	matching colors tend to look good
	
	maroon/pink (maybe? this maroon sucks)
	
	maroon-x/black (meh)
	maroon-x/white  (meh)
	maroon-x/maroon
	maroon-x/gold (meh)
	maroon-x/gold-x (meh)
	t-pink/bg-maroon-x (yeah I flipped 'em)
	
	blue/maroon (mhm)

	sage/maroon
	sage/gold (meh)
	sage/blue (nice)
	
	pink/maroon (sorta??)
	pink/gold-x (sorta???)
	pink/blue
	pink/sage
	
	
	*/
  --bg-maroon: #82463a;
  --bg-maroon-x: #772014;
  --bg-blue: #83adb5;
  --bg-sage: #c1c2ad;
  --bg-pink: #e9e6e2;

  --bg-d-blue: #38475a;
  --bg-purple: #321c3b;

  --bg-main: var(--bg-d-blue);

  --t-maroon: #b54b40;
  --t-gold: #c3803c;
  --t-gold-x: #c8906a;
  --t-blue: #2e4045;
  --t-sage: #545e4b;
  --t-pink: #b5a4a3;

  --t-green-blue: #89a28c;
  --t-l-blue: #b5d5d4;
  --t-d-blue: #697b7d;
  --t-purple: #eacee3;
  --t-d-purple: #7b519a;

  --t-main: var(--t-l-blue);

  --line-length: 95vw;
  --sun-size: 20px;

  --column-width: 42rem;
  --column-margin-top: 4rem;

  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: var(--t-main);
}

h1,
h2 {
  font-family: display;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2 {
  &.bar {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 3px;
      left: 0;
      width: 100%;
      border: 0.5px solid var(--t-main);
    }
  }
}

section {
  h2 {
    line-height: 3.75rem;
  }
}

hgroup {
  h4 {
    font-size: x-large;
    line-height: 1.5rem;
  }

  h5 {
    font-size: medium;
  }

  h6 {
    font-size: small;
    text-decoration: underline dotted;
  }
}

.skill {
  font-size: 3rem;
  color: var(--t-main);

  margin: 0.75rem;
  margin-left: 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.card {
  border: 1px solid var(--t-main);
  box-shadow: 0 3px var(--t-main);
  border-radius: 0.5rem;
}

.inverted-colors {
  color: var(--bg-main);
  background-color: var(--t-main);
}
