@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: display;
	src: url(/devinne-swash.regular.ttf);
}
  
@font-face {
	font-family: body;
	src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmYmRjRdE.woff2);
}

:root {
	/*
	Good combos (bg/t):
	matching colors tend to look good
	
	maroon/pink (maybe? this maroon sucks)
	
	maroon-x/black (meh)
	maroon-x/white  (meh)
	maroon-x/maroon
	maroon-x/gold (meh)
	maroon-x/gold-x (meh)
	t-pink/bg-maroon-x (yeah I flipped 'em)
	
	blue/maroon (mhm)

	sage/maroon
	sage/gold (meh)
	sage/blue (nice)
	
	pink/maroon (sorta??)
	pink/gold-x (sorta???)
	pink/blue
	pink/sage
	
	
	*/
	--bg-maroon: #82463a;
	--bg-maroon-x: #772014;
	--bg-blue: #83adb5;
	--bg-sage: #c1c2ad;
	--bg-pink: #e9e6e2;
	--bg-main: #181818;
	
	--t-maroon: #b54b40;
	--t-gold: #c3803c;
	--t-gold-x: #c8906a;
	--t-blue: #2e4045;
	--t-sage: #545e4b;
	--t-pink: #b5a4a3;
	--t-main: #666;
	
	--line-length: 95vw;
	--sun-size: 20px;

	--column-width: 42rem;
	--column-margin-top: 4rem;

	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-main);
}

h1, h2, h3, h4, h5, h6, p, a, li {
	color: var(--t-main);
}

h1, h2 {
	font-family: display;
}

h3 {
	
}